body { margin:15px; }
table { min-width:550px;table-layout:fixed; }
td { word-wrap:break-word; }
label { font-weight:normal; }
label, label input { cursor:pointer; }
.footer { padding:0 10px 10px 0; }

.tab-content { margin-top:10px; }
.nav-tabs>li { cursor:pointer; }
.nav-tabs>li.active { cursor:default; }

.ng-hide {
/* this is just another form of hiding an element */
display:block!important;
position:absolute;
top:-9999px;
left:-9999px;
}


.value[contenteditable="plaintext-only"] {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 175, 233, .6);
}

.btn-block { margin-bottom:5px; }

.progress { background-color:#dff0d8; }
.progress .progress-bar { margin-right:5px;color:#3c763d; }
.progress .progress-bar b { padding-left:5px;font-weight:normal;white-space:nowrap; }

input.session[type="text"] { background-color:#d9edf7; }
form.add { margin-top:15px;margin-bottom:15px; }
form.add>div:first-child { padding-right:0; }
form.add>div:last-child { padding-left:0; }
form.add>div:last-child button { padding-left:9px; }

td.action button { visibility:hidden; }
tr:hover td.action button,
tr.editing td.action button { visibility:visible; }
table tbody tr.nothing td { padding:40px 0; }
tbody .key .content { word-break:break-all; }
tbody .value .content { word-break:break-all; }

.idb-refresh { margin-top:15px; }
.database-wrap { }
.database-wrap>h4 { margin:0;padding:15px 0 5px 0;font-size:18px;display:inline-block; }
.table-wrap { border:1px solid #DDD; }
.table-wrap>h5 { margin:0;padding:5px 10px;background-color:#DDD;text-align:center;color:#FFF; }
.database-wrap table>caption { text-align:center; }
.database-wrap .accordion-toggle { display:block;cursor:pointer; }
.database-wrap .accordion-toggle:hover { text-decoration:none; }
.database-wrap table { margin-bottom:0;min-width:inherit; }
.database-wrap .panel-body { max-height:400px;overflow:scroll; }
.recent .item { padding-left:5px;padding-right:10px; }
.recent .clear { color:#999; }
.beta { margin-top:10px; }
